* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    text-align: center;
}

.card {
    background-color: hsl(244, 38%, 16%);
    width: 350px;
    padding: 20px 30px;
    border-radius: 10px;
}

.main-head {
    color: hsl(0, 0%, 100%); 
    font-size: 1.9em;
}

.main-para {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1em;
    line-height: 1.8;
}

.stat-head {
    color: hsl(0, 0%, 100%);
    font-size: 1.6em;
    line-height: 1.8;
}

.stat-info {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8em;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}