* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {  
    width: 375px;
    background-color: hsl(233, 47%, 7%);
    margin: auto;
}

.card-component {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 275px 25px 15px;
    width: 320px;
    margin: 75px 25px;
    border-radius: 10px;
    background-image: url(images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: screen;
    background-color: hsl(244, 38%, 16%);
}

.card-head {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.card-head-accent {
    color: hsl(277, 64%, 61%);
}

.card-text {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.7;
    margin-bottom: 35px;
}

.stats-num {
    font-size: 1.55em;
    margin-bottom: 6px;
}

.stats-head {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 25px;
}